/* text primary color #757575*/
/* text secondary #212121 */
/* primary white color #FFFFFF */
/* secondary bg color #2F303A */
/* logo color #000000, #2196F3 */
/* team bg color #F5F4FA  */
:root {
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --prtf-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --text-primary-color: #757575;
  --text-secondary-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-white-color);
  color: var(--text-primary-color);
}

footer {
  background-color: var(--secondary-bg-color);
  color: var(--primary-white-color);
}

/* lists style */
.list {
  list-style: none;
}

/* button */
.btn-primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.btn-secondary {
  background-color: var(--primary-white-color);
  color: var(--text-secondary-color);
}

.btn-primary:hover,
.btn-primary:active {
  color: var(--text-secondary-color);
}

.btn-secondary:hover,
.btn-secondary:active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* logo */

.logo-primary {
  color: var(--accent-color);
}
.logo-secondary {
  color: var(--text-secondary-color);
}

.logo-botom {
  color: var(--primary-white-color);
}

.logo:hover,
.logo:active {
  color: var(--accent-color);
}

/* nav */
.site-nav .link {
  color: var(--text-secondary-color);
}

.site-nav .link:hover,
.site-nav .link:active {
  color: var(--accent-color);
}

.site-nav .current-link {
  color: var(--accent-color);
}

.site-nav .current-link:hover,
.site-nav .current-link:active {
  color: var(--secondary-bg-color);
}

/* contacts */
.contacts a {
  color: var(--text-secondary-color);
}

.contacts.footer > a {
  color: var(--primary-white-color);
}

.contacts a:hover,
.contacts a:active {
  color: var(--accent-color);
}

/* heroes */
.hero {
  background-color: var(--secondary-bg-color);
  color: var(--primary-white-color);
}

/* section */

.section .title {
  color: var(--text-secondary-color);
}

.section.team {
  background-color: var(--secondary-white-color);
}

.section .section-card {
  background-color: var(--primary-white-color);
}

.section.gallery {
  background-color: var(--prtf-bg-color);
}
